@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 16px;
}

.banner {
	color: white;
	background-image: url(https://source.unsplash.com/random);
	background-size: cover;
	padding: 150px 0;
}
.banner h1 {
	font-size: 40px;
	text-align: center;
}
.banner p {
	font-size: 24px;
	font-weight: lighter;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.container {
	width: 800px;
	margin: 50px auto;
}

.container a {
	background-color: rgb(148, 190, 183);
	text-decoration: none;
	color: rgb(88, 73, 73);
}

.container a:hover {
	background-color: rgb(87, 196, 177);
}

@media (max-width: 992px) {
	.container {
		width: 700px;
	}
}
